public/android-chrome-192x192.png
public/android-chrome-512x512.png
public/apple-touch-icon.png
public/browserconfig.xml
public/contact.php
public/favicon-16x16.png
public/favicon-32x32.png
public/favicon.ico
public/index.html
public/index.xml
public/logo.svg
public/merci.html
public/mstile-150x150.png
public/php.ini
public/safari-pinned-tab.svg
public/site.webmanifest
public/sitemap.xml
public/css/ordiservice.css
public/fonts/icon.eot
public/fonts/icon.ttf
public/fonts/icon.woff
public/fonts/subset-LeagueSpartan-Bold.woff
public/fonts/subset-LeagueSpartan-Bold.woff2
public/fonts/subset-LeagueSpartan-Light.woff
public/fonts/subset-LeagueSpartan-Light.woff2
public/fonts/subset-LeagueSpartan-Regular.woff
public/fonts/subset-LeagueSpartan-Regular.woff2
public/img/icon.svg
public/img/logoh.svg
public/img/logov.svg
public/img/ordi.jpg
public/img/tel.jpg
public/js/ordiservice.js
public/php/contact.php
public/services/index.html
public/services/index.xml
public/services/assistance/index.html
public/services/formation/index.html
public/services/graphisme/index.html
public/services/installation/index.html
public/services/sites-internet/index.html
